<section class="container pageContainer" id="aboutContainer">
  <div class="row">
    <figure class="col-md-6 order-md-2 order-sm-1 text-center">
      <img
        src="/images/profile.webp"
        alt="Jenna Deamer - Frontend Developer"
        id="aboutImage"
      />
    </figure>
    <div class="col-md-6 order-md-1 order-sm-2" id="descriptionWrapper">
      <h1>Hi, I'm Jenna Deamer,</h1>
      <p class="pt-2 pb-2 text-center">
        I am studying Interactive Media Design at Georgian College. I am
        Proficient in foundational languages like HTML, CSS, and JavaScript, I
        specialize in crafting robust web applications. Leveraging tools such as
        Bootstrap for efficient styling and design, along with React for dynamic
        user interfaces, I aim to build immersive digital experiences across
        various platforms.
      </p>

      <div class="buttonsWrapper">
        <a class="btnPrimary" href="/projects">
          View Work
        </a>
        <a
          class="btnSecondary"
          href="https://a4fhjldpt1w2fedr.public.blob.vercel-storage.com/Resume.pdf"
          target="_blank"
          rel="noopener noreferrer"
        >
          <i class="bi bi-file-earmark-text-fill"></i>
          View Resume
        </a>

      </div>
    </div>
  </div>
</section>