<section class="pageContainer">
  <div class="text-center">
    <h1 id="heroHeader">Hello, I'm Jenna Deamer</h1>
    <h2 class="pb-4" id="heroSubHeader">Crafting Engaging and User-Centric
      Experiences</h2>
    <a class="btnPrimary me-3" href="/projects">View Work</a>
    <a class="btnSecondary" href="/about">About Me</a>
  </div>
</section>