<section class="container pageContainer row mb-4" id="projectsContainer">
  <article class="col-lg-6 projectCard">
    <h2>Book Management App</h2>

    <img
      src="/public/images/thumbnails/bookAppThumbnail.webp"
      alt="Book App Thumbnail"
      class="pb-2 img-fluid"
    />

    <p>Explore and search through Google Books API, organizing your own book
      collection.</p>
    <small>React | Javascript | Bootstrap</small>
    <div class="buttonsWrapper pt-2">
      <a
        href="https://comp-2112-assignment2.vercel.app/"
        target="_blank"
        rel="noopener noreferrer"
        class="btnPrimary"
      >
        <i class="bi bi-laptop"></i>
        Demo
      </a>
      <a
        href="https://github.com/Jenna-Deamer/COMP2112-Assignment2"
        class="btnSecondary"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Visit the github repository"
      >
        <i class="bi bi-github"></i>
        Github
      </a>
    </div>
  </article>

  <article class="col-lg-6 projectCard">
    <h2>Figma File to Website</h2>

    <img
      src="/images/thumbnails/WaterTreatmentThumbnail.webp"
      alt="Figma to Website Thumbnail"
      class="pb-2 img-fluid"
    />

    <p>Converted a Figma-designed water treatment services layout into a
      responsive static website.</p>
    <small>HTML | CSS | Bootstrap</small>

    <div class="buttonsWrapper pt-2">
      <a
        href="https://comp1051-finalproject.netlify.app/"
        target="_blank"
        rel="noopener noreferrer"
        class="btnPrimary"
      >
        <i class="bi bi-laptop"></i>
        Demo
      </a>
      <a
        href="https://github.com/Jenna-Deamer/COMP1051-FinalProject"
        class="btnSecondary"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Visit the github repository"
      >
        <i class="bi bi-github"></i>
        Github
      </a>
    </div>
  </article>
</section>